*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

body{
    width: 1440px;
    background: black;
    
}

.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1440px;
    height: 605px;
    background-image: url(../images/banner.png), linear-gradient(180deg, rgba(0, 0, 0, 0.60) 0%, rgba(12, 35, 44, 0.9) 100%);
    
   
    
}

.banner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
    img{
        padding: 1.5rem;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.20);
    }
    
    h1{
        font-family: Raleway;
        font-size: 2.5rem;
        font-weight: 900;
        line-height: 3rem;
        text-align: left;
        text-transform:uppercase;
        background: linear-gradient(180deg, #56add3 0%, #1472B7 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p{
        width: 600px;
        color: rgba(255, 255, 255, 1);
        font-family: Raleway;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.44rem;
        text-align: center;
        padding: 1.5rem;


    }

    button{
      width: 326px;
      height: 60px;
      border: 4px solid rgba(49, 168, 221, 1);
      color: rgb(49, 168, 221, 1);
      background: transparent;
      text-transform: uppercase;
      font-family: Raleway;
      font-size: 1rem;
      font-weight: 900;
      letter-spacing: 0.21rem;
      text-align: center;
      cursor: pointer;

    }
}

#course-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 0 7rem 0;

    h2{
        color: rgba(51, 168, 219, 1);
        font-size: 3.2rem;
        padding: 7rem 0 2rem 0 ;
        text-align: center;
        font-family: Raleway;
        font-weight: 700;
        letter-spacing: 0.25rem;
       

    }

    p{
        color: rgba(255, 255, 255, 1);
        font-family: Raleway;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.9rem;
        letter-spacing: 0em;
        text-align: center;
        width: 800px;

    }
}

.modules-list{
    font-family: Raleway;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.9rem;
    letter-spacing: 0.01rem;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    
}

.module{
    width: 450px;
    height: Hug 51px;
    background-color: rgba(37, 37, 37, 1);
    padding: 1rem 2.5rem;
    margin: 2rem 0px;
    border-radius: 57px;
    border: 1px solid rgba(51, 168, 219, 1);
    box-shadow: -2px 6px 4px 0px rgba(0, 0, 0, 0.40) inset;

    span{
        color: rgba(51, 168, 219, 1);
    }
    
}

#transform-world{
    height: 450px;
    top: -250px;
    background: url(../images/woman-code.png);
    background-position: center;
    background-size: cover;
    border-top: 1px solid #33A8DB;
    border-right: 1px solid #33A8DB;
    border-bottom: 1px solid #33A8DB;
    


    p{
        width: 244px;
        height: 141px;
        margin: 7rem 0 0 7rem;
        color: rgba(255, 255, 255, 1);
        text-shadow: 3px 2px 0px #33A8DB;
        font-family: Raleway;
        font-size: 2.7rem;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        text-transform: lowercase
                ;
    }
}

#professional-challenges{
    display: flex;
    flex-direction: column;
    padding: 7rem 0 ;
    align-items: center;
    justify-content: center;
    

    h2{
        width: 600px;
        font-family: Raleway;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 2.2rem;
        letter-spacing: 0.19rem;
        text-align: center;
        color: rgba(51, 168, 219, 1);
        padding: 2rem 0;
        text-transform: uppercase;


    }

    img{
        width: 600px;
       
    }

    p{
        width: 700px;
        font-family: Raleway;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.9rem;
        letter-spacing: 0em;
        text-align: center;
        color: rgba(255, 255, 255, 1);
        padding: 3rem 0;
        


    }

}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    border-top: 1px solid rgba(51, 168, 219, 1);

    p{
        color: rgba(255, 255, 255, 1);
        padding: 1rem 0;
        Font: Raleway;
        font-weight: 400;
        Size: 1rem;
        text-align: center;
    }

    a{
        color: rgba(51, 168, 219, 1)
    }
}